font-face {
  font-family: 'Eurostile';
  src: url('eurostile.ttf') format('truetype');
}
body {
  background-color: #000;
  color: #fff;
  font-family: 'Eurostile', sans-serif;
  text-align: center;
}
a { color: #fcf; text-decoration: none; }
a:hover { color: #fff; }

div, a, canvas {
  -webkit-transition: all 0.23s;
  -moz-transition: all 0.23s;
  -o-transition: all 0.23s;
  transition: all 0.23s;
}

h1 { font-variant: small-caps; font-weight: 100; }
#pulse {
  display: block;
  border: 1px solid #333;
  margin: auto; padding: 8px;
}
.controls {

}

.btn {
  border: 1px solid #fff;
}
